@charset "utf-8";

#about_cont_01{}
#about_cont_01 .wrap{width: 1000px; height: auto; margin: 0 auto; padding: 0 10px;}
#about_cont_01 .wrap .title{text-align: center; margin: 60px 0 40px;}
#about_cont_01 .wrap .title h1{font-size: 24px; color: #5c5c5c; }
#about_cont_01 .wrap .cont_01{padding-bottom: 20px;}
#about_cont_01 .wrap .cont_01 p{font-size: 14px; color: #5c5c5c; padding-bottom: 20px; font-weight: bold;}

#about_cont_01 .wrap .cont_02{width: 100%; height: 310px;}
#about_cont_01 .wrap .cont_02 .menu{width: calc(50% - 24px); height: calc(100% - 2px); border: 1px solid #5e889e; border-radius: 3px; padding: 20px; position: relative; display: inline-block; margin-right: 20px;}
#about_cont_01 .wrap .cont_02 .menu h1{font-size: 24px;color: #5e889e; font-weight: bold; margin-bottom: 20px;}
#about_cont_01 .wrap .cont_02 .menu h1 span{font-size: 18px; }

#about_cont_01 .wrap .cont_02 .menu p{font-size: 14px; color: #5c5c5c; font-weight: bold; padding-bottom: 10px;}

#about_cont_01 .wrap .cont_02 .menu .btn{ padding: 20px 0;}
#about_cont_01 .wrap .cont_02 .menu .btn > a{position: absolute; bottom: 20px; left:20px; width: 180px; height: 30px; display: block; line-height: 30px; text-align: center; border-radius:4px; background-color: #5e889e; color:#fff; font-size: 16px; text-transform: uppercase;}
#about_cont_01 .wrap .cont_02 .menu .btn > a > span{font-weight: bold;}

#about_cont_01 .wrap .cont_02 .menu .btn > div > a{position: absolute; bottom:0; right: 20px;}
#about_cont_01 .wrap .cont_02 .menu .btn > div > a > img{height: 140px;}

#about_cont_01 .wrap .title_02{text-align: center; color: #5c5c5c; padding-bottom: 50px; }
#about_cont_01 .wrap .title_02 p{font-size: 24px;}
#about_cont_01 .wrap .title_02 p span{ font-weight: bold;}

#about_cont_01 .wrap .logo_part{width: 100%; height: auto; font-size: 0; padding-bottom: 40px;}
#about_cont_01 .wrap .logo_part > div{width: calc(25% - 20px); height: 100px; display: inline-block; background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; padding: 0 10px; }

#about_cont_01 .wrap .logo_part > div:nth-child(1){background-image: url(../img/m_01.jpg);}
#about_cont_01 .wrap .logo_part > div:nth-child(2){background-image: url(../img/m_02.jpg);}
#about_cont_01 .wrap .logo_part > div:nth-child(3){background-image: url(../img/m_03.jpg);}
#about_cont_01 .wrap .logo_part > div:nth-child(4){background-image: url(../img/m_04.jpg);}
#about_cont_01 .wrap .logo_part > div:nth-child(5){background-image: url(../img/m_05.jpg);}
#about_cont_01 .wrap .logo_part > div:nth-child(6){background-image: url(../img/m_06.jpg);}
#about_cont_01 .wrap .logo_part > div:nth-child(7){background-image: url(../img/m_07.jpg);}
#about_cont_01 .wrap .logo_part > div:nth-child(8){background-image: url(../img/m_08.jpg);}
#about_cont_01 .wrap .logo_part > div:nth-child(9){background-image: url(../img/m_09.jpg);}
#about_cont_01 .wrap .logo_part > div:nth-child(10){background-image: url(../img/m_10.jpg);}